
  <div class="row white-text " >
 
    <div class="carousel carousel-slider valign-wrapper">
      <div class="carousel-fixed-item center" >
       
        <div class="center-align">
          <p id="first" >¡Todos los eventos de la ciudad </p>
          <p id="second">en una sola pagina!</p>
          <br>
          <a class="explora btn waves-effect white black-text btn-large z-depth-5" href="/eventos-proximos">Explora </a>
        </div>
        
      </div>

      <a class="carousel-item" href="#one!"><img src="../../../assets/resources/1.png"></a>
      <a class="carousel-item" href="#two!"><img src="../../../assets/resources/2.png"></a>
      <a class="carousel-item" href="#three!"><img src="../../../assets/resources/3.png"></a>
  
    </div>
  </div>
