
<div class="container">
 
<div class="row">
    <h1 id="titulos">EVENTOS PROXIMOS</h1>
        <br>
        <div class="col s4"><div class="row">
          <div class="col s12 m7">
            <div class="card ">
              <div class="card-image">
                <img src="../../../assets/resources/aguilas.jpeg">
              </div>
              <div class="card-content">
                <h6>Aguilas vs Tomateros</h6>
                <p>17 de noviembre 2023</p>
              </div>
              <div class="card-action">
                <a href="/adquirir-boleto">ver más</a>
              </div>
            </div>
          </div>
        </div></div>

    <div class="col s4">
        <div class="row">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="../../../assets/resources/Flyer-Zoe-Cancún.jpg">
                </div>
                <div class="card-content">
                  <h6>Zoé en Concierto</h6>
                  <p>30 de noviembre 2023</p>
                </div>
                <div class="card-action">
                  <a href="#">ver más</a>
                </div>
              </div>
            </div>
          </div>

    </div>

    <div class="col s4">
        <div class="row">
            <div class="col s12 m7">
              <div class="card">
                <div class="card-image">
                  <img src="../../../assets/resources/a la parrilla.jpg">
                </div>
                <div class="card-content">
                  <h6>A la Parrilla Fest</h6>
                  <p>21 de octubre 2023</p>
                </div>
                <div class="card-action">
                  <a href="#">ver más</a>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>

  <div class="row">
    
    <div class="col s4"><div class="row">
      <div class="col s12 m7">
        <div class="card">
          <div class="card-image">
            <img src="../../../assets/resources/1cascanueces_cabecera.jpg">
          </div>
          <div class="card-content">
            <h6>Cascanueces sobre Hielo</h6>
            <p>4 de diciembre 2023</p>
          </div>
          <div class="card-action">
            <a href="#">ver más</a>
          </div>
        </div>
      </div>
    </div></div>

    <div class="col s4">
      <div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image">
                <img src="../../../assets/resources/box.jpg">
              </div>
              <div class="card-content">
                <h6>Noche de Box</h6>
                <p>21 de noviembre 2023</p>
              </div>
              <div class="card-action">
                <a href="#">ver más</a>
              </div>
            </div>
          </div>
        </div>

  </div>


   
    <div class="col s4"><div class="row">
      <div class="col s12 m7">
        <div class="card ">
          <div class="card-image">
            <img src="../../../assets/resources/hombreesg.jpg">
          </div>
          <div class="card-content">
            <h6>Hombres G en Mexicali</h6>
            <p>6 de diciembre 2023</p>
          </div>
          <div class="card-action">
            <a href="#">ver más</a>
          </div>
        </div>
      </div>
    </div></div>
  </div>
  
  
</div>