
<div class="container ">
  
    <br>
    <br>

<div class="row">
    
    <div class="text col s6 ">
        <h1 id="titulos">ABOUT US</h1>
        <br>
        <p id="aboutInfo">Somos una página web con el objetivo de brindarte la mejor experiencia en la ciudad de Mexicali Baja California Mexico, en esta podrás encontrar todos los eventos que se realizaran en la ciudad próximamente.</p>
        <p id="aboutInfo"> Con el objetivo de aumentar el turismo en la ciudad y mejorar la estancia tanto de turistas como de los ciudadanos.</p>
    </div>

    <div class="imagen col s6 ">

        <img src="../../../assets/resources/aboutUs.jpg"id="aboutImage">
       

    </div>
  </div>

</div>