
<header class="page-footer cyan lighten-5">
  <div class="container ">
    
    
    
    <div class="row valign-wrapper" id="down">
            
      <div class="col s10 push-s1">
      <h6 class="black-text text-lighten-3" id="text"> <a href="/about">About Us</a></h6>
      <h6 class="black-text text-lighten-3" id="text"> <a href="#">Terminos y Condiciones</a></h6>
      </div>

      <div class="col s4 push-s4 valign-wrapper ">
        
        <a href="#" id="boton" class="waves-effect waves-light btn-small cyan lighten-2 black-text text-lighten-3">Preguntas Frecuentes</a>
        
        
        </div>
      
    </div>
    
  </div>
  
</header>
      


  