
<div class="container ">
 
    <div class="row">
        <h1 id="titulo">DEPORTES</h1>
            <hr>
        <div class="col s4 ">
            <div class="row">
                <div class="col s12 m7">
                  <div class="card ">
                    <div class="card-image">
                      <img src="../../../assets/resources/DEPORTES1.jpg">
                    </div>
                    <div class="card-content">
                      <h6>CETYS vs UABC</h6>
                      <p>21 de noviembre 2023</p>
                    </div>
                    <div class="card-action">
                      <a href="/app-preguntas-frecuentes">Gratuito</a>
                    </div>
                  </div>
                </div>
              </div>
    
        </div>
    
        <div class="col s4 ">
            <div class="row">
                <div class="col s12 m7">
                  <div class="card ">
                    <div class="card-image">
                      <img src="../../../assets/resources/DEPORTES2.jpg">
                    </div>
                    <div class="card-content">
                      <h6>Torneo Tenis 2023</h6>
                      <p>21 de marzo 2023</p>
                  
                    </div>
                    <div class="card-action">
                      <a href="#">Comprar Boletos</a>
                    </div>
                  </div>
                </div>
              </div>
    
        </div>
    
        <div class="col s4">
            <div class="row">
                <div class="col s12 m7">
                  <div class="card ">
                    <div class="card-image">
                      <img src="../../../assets/resources/DEPORTES3.jpg">
                    </div>
                    <div class="card-content">
                      <h6>Taekwondo Final</h6>
                      <p>21 de octubre 2023</p>
                    </div>
                    <div class="card-action">
                      <a href="#">Gratuito</a>
                    </div>
                  </div>
                </div>
              </div>
    
        </div>
      </div>
    
      <div class="row">
        
        <div class="col s4"><div class="row">
          <div class="col s12 m7">
            <div class="card ">
              <div class="card-image">
                <img src="../../../assets/resources/DEPORTES4.jpg">
              </div>
              <div class="card-content">
                <h6>Aguilas vs Tomateros</h6>
                <p>17 de noviembre 2023</p>
              </div>
              <div class="card-action">
                <a href="/adquirir-boleto">Comprar Boletos</a>
              </div>
            </div>
          </div>
        </div></div>
        <div class="col s4"><div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image">
                <img src="../../../assets/resources/DEPORTES5.jpg">
              </div>
              <div class="card-content">
                <h6>Polo</h6>
                <p>30 de noviembre 2023</p>
              </div>
              <div class="card-action">
                <a href="#">Comprar Boletos</a>
              </div>
            </div>
          </div>
        </div></div>
        <div class="col s4"><div class="row">
          <div class="col s12 m7">
            <div class="card">
              <div class="card-image">
                <img src="../../../assets/resources/DEPORTES6.jpg">
              </div>
              <div class="card-content">
                <h6>Regionales Clavados</h6>
                <p>6 de diciembre 2023</p>
              </div>
              <div class="card-action">
                <a href="#">Gratuito</a>
              </div>
            </div>
          </div>
        </div></div>
      </div>
      
      
    </div>