
<header class="page-header cyan lighten-2">
  
  <div class="container">
  
   
  <div class="row">
    <br>
    <br>
      <div class="col s2" >
        
        <a href="#" > <img src="../../../assets/resources/logo.png" id="logotipo"></a>
      </div>
      
   
        <div class="col s1" >
          
          <h6 class="black-text text-lighten-3 center-align" id="categoria"><a href="/app-contacto" > Contacto </a></h6>

    </div>
   
    <div class="col s2  push-s1">
       
      <h6 class="black-text text-lighten-3"  id="categorias"> TEATRO</h6>
     </div>
     
     <div class="col s2 push-s1">
       
      <h6 class="black-text text-lighten-3"  id="categorias"> CONCIERTOS</h6>
     </div>


    <div class="col s2 push-s1" >
          
      <h6 class="black-text text-lighten-3 center-align" id="categorias"><a href="/app-interes" > DEPORTES </a></h6>

</div>

  <div class="col s2 push-s1">
       
  <h6 class="black-text text-lighten-3"  id="categorias"> TRIBUTOS</h6>
 </div>

  </div>
</div>
</header>
      


  