.container{
    width: 100%;
}


#interesImage{

    width: 50%;
    margin-top: 40px;
   

}


#titulo1{

    font-family: myhelveticabold;
    text-align: center;
}
#titulo2{

    font-family: myhelveticabold;
    text-align: left;
}